.footer {
    background-color: #262c27;
    padding: 100px 0px 80px;
    color: white;
}

.footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__form {
    max-width: 500px;
}

.footer__title {
    margin-bottom: 27px;
}

.footer__form-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: block;
    width: 100%;
    padding: 10px 0;
    outline: none;
    color: white;
    margin-bottom: 57px;
}

.footer__form-input::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.4;
}

.footer__form-btn {
    background-color: white;
    padding: 10px 66px;
    border: none;
    margin-bottom: 110px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: black;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
}

.footer__logo {
    align-self: flex-start;
}

.footer__logo path {
    transition: fill .3s;
}


.footer__logo:hover path {
    fill: #0093A1;
}


.footer__social-title {
    margin-bottom: 28px;
    font-weight: 700;
}

.footer__gallery {
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.footer__gallery-item {
    width: 100%;
    align-self: stretch;
}

.footer__menu-list {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}
