.info {
    background-image: url(../images/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 90px;
}

.info::before {
    content: '';
    position: absolute;
    height: 180px;
    background-color: #262c27;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-180px);
    z-index: 1;
}

.info__top {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    margin-bottom: 65vh;
}

.info__top-text {
    padding-top: 245px;
    width: 290px;
    color: white;
    position: relative;
}

.info__btn {
    bottom: 0;
    right: 0;
}

.info__top-text--one {
    padding-bottom: 125px;
}

.info__top-text--two {
    border-bottom: 1px solid white;
}

.info__top-img {
    position: relative;
    z-index: 6;
}

.info__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    padding-bottom: 50px;
    color: white;
}

.info__specs-title {
    width: 250px;
}

.info__specs-list {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px 0;
    font-weight: 700;
    width: 565px;
}

.info__spaces-item {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
}

.info__specs-caption {
    width: 185px;
}